.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    
    @media @mobile {
      flex-direction: column;
      align-items: center;
      margin: 30px 5%;
  }
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
    }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media @mobile {
        width: 100%;
        padding: 0;
    }

      img {
        border-radius: 10px;
      }
    }
  }

  .top-photo {
    margin-bottom: 2%;
    @media @mobile {
      width: 89%;
      padding: 0;
      margin: 0 5% 2% 5%;
  }
  }

  .top-section {
    padding-bottom: 2%;
    border-bottom: 2px dashed @navigation-border;
    @media @mobile {
      width: 100%;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
  }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      @media @mobile {
        margin-bottom: 5%;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    @media @mobile {
      width: 90%;
      margin: 0 5% 30px 5%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    @media @mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 70%;
        text-align: justify;
      }
    }
  }
  @media @mobile {
  .top-section .text-content {
    margin: 0 5%;
  }
}


