// Navigation Styles here
@mobile: ~"(max-width: 500px)";

// Navigation Styles here
 
header {
    max-width: 900px;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {
        flex-direction: column;
    }


    h1 {
        margin-left: 5%;
        font-size: 4rem;
        @media @mobile {
            margin: 1% 0;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 35%;
        margin-right: 8%;
        @media @mobile {
            width: 50%;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 1.6rem;
        }
    }
}